.form-wrapper {
    margin-top: 30px;
}

.add-form {
    display: flex;
}


.add-grocery {
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: #95d5b2;
    box-shadow: 1px 1px 1px 1px #74c69d;
}

.add-grocery:active {
    background-color: #95d5b2;
}

.add-grocery:focus {
    background-color: #95d5b2;
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px 1px #74c69d;
}

.add-grocery-button {
    background-color: #2D6A4F;
    border: none;
    border-radius: 0px;
}

.add-grocery-button:hover {

    transition: 0.3s;
    background-color:#95D5B2;

}

.add-grocery-button:focus {

    transition: 0.3s;
    background-color:#95D5B2;

}