.logo-text {
    color: #2d6a4f;
    font-size: 25px;
}

.logo-text:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #081c15;
}

.shoping-cart {
    color:#2d6a4f;
    font-size: 25px;
}
.shoping-cart:hover {
    color:#081c15;
}

.header-search {
    margin-top: 15%;
}

.cards-block {
    margin-top: 5%;
}

