ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 500px;
    li {
        border: 12px solid #a8dadc;
        border-radius: 5px;
        background-color: #a8dadc;
        display: grid;
        grid-auto-rows: minmax(30px,auto);
        grid-template-columns: 1fr 2fr;
        position: relative;
    }
}